/* 
******************
Header section 
******************
*/
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-height: 6rem;
  padding: 0.8rem 4.8rem;
}

.logo {
  font-size: 2rem;
  text-decoration: none;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: rgb(221, 210, 97);
  font-size: 2rem;
  transition: all 0.3s;
  padding: 0.8rem;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: rgb(85, 11, 125);
  /* font-size: 3.3rem; */
}

.menu-btn {
  display: inline-block;
  text-decoration: none;
  border-radius: 22px;
  padding: 0.8rem 0.2rem;
  color: rgb(0, 0, 0);
  font-size: 2rem;
}

/* 
******************
Header section end
******************
*/

/* 
******************
main section start
******************
*/

.main {
  background-color: #21252981;
  height: 100%;
  margin: 0 18rem;
  height: 67rem;

  display: grid;
  grid-template-columns: 1fr 2fr;
}

/* 
******************
main section end
******************
*/

/* 
******************
hero aside section start
******************
*/
.hero-aside {
  background-color: #212529;
}

.pro-pick {
  width: 20rem;
  height: 20rem;
  padding: 2rem;
  border-radius: 100px;
  margin-bottom: 1rem;
}

.author {
  text-align: center;
  margin-bottom: 3rem;
}

.hero-aside .author .pro-name {
  font-size: 2.2rem;
  font-weight: 700;
  font-family: Arial;
  margin-bottom: 0.8rem;
}

.hero-aside .author .position {
  font-size: 1.2rem;
}

.hero-aside .author .position a {
  color: rgb(32, 158, 116);
  text-decoration: none;
  font-weight: 700;
}

.aside-menu {
  text-align: center;
  margin: 0 0 3rem 0;
}
.aside-list {
  margin: 0 0 2rem 0;
  font-size: 1.3rem;
  list-style: none;
}
.aside-link:link,
.aside-link:active {
  text-decoration: none;
  color: rgba(163, 201, 226, 0.674);
  transition: 0.3s;
}

.aside-link:hover,
.aside-link:visited {
  text-decoration: underline;
  color: rgb(252, 252, 252);
}

.hero-main {
  /* background-color: rgb(221, 255, 0); */
}

.hero-aside-footer {
  width: 100%;
  text-align: center;
  padding: 0 6rem;
  font-size: 1.2rem;
}

.hero-aside-footer span {
  color: azure;
  font-weight: 700;
}

.hero-aside-footer p {
  margin: 0 0 1.4rem;
}

.hero-aside-footer ul {
}

.hero-aside-footer ul li {
  display: inline;
  list-style: none;
  padding: 0 0.4rem;
  cursor: pointer;
}
/* 
******************
hero aside section end
******************
*/

/* 
******************
hero main section start
******************
*/
.hero-main {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* 
******************
hero main section end
******************
*/

/* 
******************
hero main section start
******************
*/

.home-main {
  display: flex;
}

.astronaut-img {
  width: 24rem;
  height: 42rem;
}

.hero-InnerText {
  width: 50rem;
  padding: 4rem;
  height: 55rem;
  display: table-cell;
  vertical-align: middle;
}

.hero-heading {
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.hero-InnerText h2 {
  margin-bottom: 8rem;
  font-size: 2rem;
  line-height: 2.8rem;
}

.hero-InnerText strong {
  color: #4dabf7;
}

.hero-btn a {
  text-decoration: none;
  color: #4dabf7;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  padding: 1.6rem;
  border: 0.2rem solid #fff;
}

.hero-btn a:hover {
  color: #fff;
  border: 0.2rem solid #4dabf7;
  transition: all 0.3s;
}

/* 
******************
hero main section end
******************
*/

/* 
******************
About section start
******************
*/

.services-row {
  margin: 4rem 0 4rem;
  display: flex;
  justify-content: space-around;
}

.services {
  width: 12rem;
  text-align: center;
  padding: 0.6rem;
  border-radius: 0.7rem;
}

.services:hover,
.services:visited {
  background-color: rgba(156, 176, 193, 0.207);
}

.services-row .services span {
  display: block;
  font-size: 6rem;
}

.services h2 {
  font-size: 1.2rem;
}

.hire {
  padding: 0 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-btn a {
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  padding: 0.6rem;
  transition: all 0.3s;
}

.about-btn a:hover {
  color: #4dabf7;
  background-color: rgba(156, 176, 193, 0.207);
  border-bottom: 0.1rem solid #4dabf7;
  transition: all 0.3s;
}

/* 
******************
About section end
******************
*/

/*
******************
DEVELOPMENTS section start
******************
*/
.dev-btn {
  position: relative;
}

.to-MyApp {
  width: 20rem;
  height: 20rem;
  border: none;
  border-radius: 50%;
  background-color: #9775fa;
  font-size: 8rem;
  font-weight: 700;
  color: rgb(115, 222, 187);
  position: absolute;
  top: 18rem;
  left: 24rem;
  box-shadow: 0 2rem 2rem #000;
}

.to-MyApp:hover {
  text-shadow: 1rem 2rem 2rem #000;
  transition: all 0.3s;
  cursor: pointer;
}

/*
******************
DEVELOPMENTS section end
******************
*/

/* 
******************
Skills section start
******************
*/

.skill-cells {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* gap: 4rem; */
}

.progress {
  position: relative;
  margin: 0 2rem 2rem;
}

.skill-cells .progress h2 {
  font-size: 2rem;
  /* margin-bottom: 1rem; */
}

.skill-cells .progress span {
  position: absolute;
  top: -0.1rem;
  right: 0;

  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

/*
******************
Skills section end
******************
*/

/*
******************
Education section start
******************
*/
.collaps-panel {
  padding-top: 2rem;
}

.panel-box {
  padding: 2rem;
}

.panel-row {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.collapsed {
  cursor: pointer;
}

.panel-row th {
  font-weight: 700;
  color: #4dabf7;
}

.panel-row td,
th {
  font-size: 1.8rem;
  padding: 1rem;
}

/*
******************
Education section end
******************
*/

/*
******************
Work section start
******************
*/
.timeline-box {
  /* background-color: rgb(50, 54, 54); */
}

.timeline-label h3 {
  margin-top: 0.2rem;
  color: #4dabf7;
  font-weight: 700;
}

.work-timeline span {
  color: rgb(32, 158, 116);
}

.work-timeline .timeline-label span {
  color: #ffffff;
  text-decoration: underline;
}

.timeline-label ul {
  margin-top: 0.8rem;
  padding-left: 1.4rem;
}
/*
******************
Work section end
******************
*/

/*
******************
Contact section start
******************
*/

.contact-form {
  display: flex;
  align-content: center;
  gap: 2rem;
}

.contact {
  display: flex;
  align-items: center;
  padding: 2rem 0;
}

.contact span {
  font-size: 4rem;
  padding: 1rem;
  background-color: rgba(156, 176, 193, 0.207);
}

.contact p {
  font-size: 1.6rem;
  padding: 1rem;
}

.response-form {
  width: 26rem;
  box-sizing: border-box;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
}

.response-form input {
  display: block;
  appearance: none;
  margin-bottom: 2rem;
  width: 100%;
  font-size: 1.6rem;
  border: none;
  padding: 1rem 2rem;
}

.response-form input:focus {
  border: transparent;
}

.response-form textarea {
  height: 12rem;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  font-family: inherit;
  border: none;
}

.response-form input:focus,
textarea:focus {
  background-color: antiquewhite;
}

/*
******************
contact section end
******************
*/
